/*signin.html*/
#username{
    width: 300px;
    height: 30px;
    border-color: rgb(190, 190, 178);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-style: solid;
}
#password{
    width: 300px;
    height: 30px;
    border-color: rgb(190, 190, 178);
    border-radius: 5px;
    margin-top: 10px;
    border-style: solid;
}
#login{
    width: 310px;
    height: 33px;
    margin-top: 20px;
    background-color: rgb(17, 26, 107);
    border-radius: 5px;
    border-style: none;
    color: aliceblue;
    text-align: center;
    margin-bottom: 100px;
}
section#mainl{
    margin-top: 80px;
    margin-left: 300px;
    margin-right: auto;
}

/*signup.html*/
section#mains{
    margin-top: 80px;
    margin-left: 80px;
    margin-right: auto;
}
#cframe{
    border:none;
}
div#input{
    margin-left: 360px;
}
div#join{
    margin-top: 20px;
    margin-left: 530px;
}

/*notice.html*/
table{
    margin:0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}
table.notice{
    border-collapse: collapse;
    text-align: left;
    line-height: 1.2;
    text-align: center;
}
table.notice th{
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: rgb(48, 49, 49);
    border-bottom: 3px solid rgb(56, 58, 59);
}
table.notice thead th{
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #bfbfc0;
    background: #bfbfc0;
}
table.notice tbody td{
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

#write{
    width: 70PX;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 17, 100);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 590px;
}
#cancle{
    width: 70PX;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(164, 193, 255);
    border-radius: 5px;
}
.number button{
    width:40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    position: relative;
    display: inline-block;
    left: 300px;
    border-radius: 5px;
}
.number2 button{
    width:40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    position: relative;
    display: inline-block;
    left: 200px;
    border-radius: 5px;
}
#num{
    background-color: blue;
    border-radius: 5px;
}

/*write.html*/
table.write{
    border-collapse: collapse;
    text-align: left;
    line-height: 1.2;
    text-align: center;
    
}
table.write td{
    padding: 10px;
    vertical-align: top;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
}
#title{
    width: 550px;
    height: 25px;
    border-radius: 5px;
    border-color: rgb(158, 160, 160);
    border-style: solid;
}
#content{
    width: 550px;
    height: 300px;
    border-radius: 5px;
    border-color: rgb(158, 160, 160);
    border-style: solid;
}

/*detail.html*/
table.detail{
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 700px;
    height: 300px;
   
}

table.detail td{    
    padding: 10px;
    vertical-align: top;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    text-align: left;
}

/*gallery.html*/
section#maing{
    margin-top: 80px;
    margin-left: 120px;
    margin-right: auto;
    height: 700px;
}
div#img1{
    display:inline-block;
    margin-right: 30px;
    text-align: center;
}

div#btn{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(156, 160, 156);
    border-radius: 5px;
}

/*contract.html*/
textarea#text{
    width: 600px;
    height: 250px;
    resize: none;
    border: none;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

/*modify.html*/
textarea#modi{
    width: 550px;
    height: 250px;
    resize: none;
    border: 2px solid #bfbfc0;
    text-align: left;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

/*index.html*/
.mainhome{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(237, 240, 250);
}
header {
    width: 100%;
    height: 100px;
    background-color:#ffffff;
    text-align: right; 
    background-size: cover;
    padding: 10px;
    
}
header img{
    float: left;
    margin-top:30px;
}
header h4{
    margin-top: 50px;
    margin-right: 100px;
}
nav{
    background:  rgb(194, 198, 236);; 
    border: 2px solid rgb(64, 80, 226);
    width: 97%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
nav::after {content: ""; clear: both; display: block;}
nav ul{margin: 0; list-style: none;}
nav ul li{float: left; margin: 5px 30px 15px 20px;}
nav a {color: rgb(64, 80, 226); text-decoration: none; font-weight: bold;}


article #main{
    padding: 20px;
   
   
}

#main1 img ,h4{
    margin: 0px;
}
#main1 p{
    margin: 0px;
    font-size: 12px;
}
#main2img img{
    float:left; 
    border: 2px solid rgb(122, 120, 120);
    margin-right: 5px;
    margin-bottom: 10px;

}
#main2 p{
    font-size:13px ;
}

#main2 div{
    width:300px;
    display: inline-block;
  }

#main3 img{
    border: 2px solid rgb(122, 120, 120);
    margin-bottom: 0px;
}
#main3 p{
    margin-top: 0px ;
}


aside{width: 150px; padding: 15px; float:right; }

/*footer*/
footer{clear:both; background: rgb(37, 76, 153); color: #fff; text-align: center; padding: 25px;}

#loginbtn{
    width: 150px;
    height: 80px;
    margin-top: 20px;
    background-color:rgb(42, 37, 109);
    border-radius: 5px;
    border:1px solid rgb(42, 37, 109);
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;

}